# Build / Install / Logs
build/
install/
dist/
log/
logs/
flight_logs/
src/.logs/
src/backup/
*.log
.logs/
as_gimbal.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
*.egg-info/
.installed.cfg
*.pt

# PDM / Virtualenv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.pdm.toml
__pypackages__/

# Type Checking / Linting
.ruff_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# PX4 ROS2 Generated
px4_msgs/
px4_ros_com/
px4_ros/
src/px4_msgs/
src/px4_ros_com/

#  ROS 2 / Colcon
install/
log/

# Environment
.env

# Editor / IDE
.vscode/
.idea/
